<div class="container p-5">
    <h2>My Account Settings</h2>
    <div class="row py-3 align-items-center text-muted">
        <div class="col-md-4">
            <h5>Email Address:</h5>
        </div>
        <div class="col-md-6">
            <h5>test1@gmail.com</h5>
        </div>
        <div class="col-md-4 py-3">
            <h5>Edit Email</h5>
        </div>
        <div class="col-md-6">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    </div>
    <hr class="style1">
    <div class="row align-items-center text-muted">
        <div class="col-md-4">
            <h5>New Password</h5>
        </div>
        <div class="col-md-6">
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="col-md-4 py-3">
            <h5>Confirm Password</h5>
        </div>
        <div class="col-md-6">
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    </div>
</div>