@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  min-height: 90vh;
  min-width: 90vw;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif, "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(87, 87, 87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238, 238, 238);
}

body {
  margin: 0;
  width: 100%;
}

.root {
  position: relative;
}

header{
  width: 900px;
  max-width: 400px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1em;
  left: 250px;
  z-index: 2;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  
}

header nav a{
  background: white;
  display: inline-block;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 20px;
  text-decoration: none;
  color: rgb(87, 87, 87);
  transition: 0.2s ease-in;
  font-size: 20px;
  text-align: center;
  width: 250px;
}

header nav a::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgb(18, 33, 59) 70%);
}

header nav a .link{
  font-size: 15px;
  font-weight: 500;
  top: 10px;
}

header nav a .fas{
  font-size: 35px;
}

header nav a:hover,
.actived{
  background: rgb(18, 33, 59);
  color: white;
}

.logo{
  position: absolute;
  top: 2em;
  left: 100px;
  z-index: 2;
  width: 100px;
  height: 100px;
}

#content{
  width: 97%;
  height: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 40px black;
  background: rgb(230, 230, 230);
  padding-top: 120px;
  margin-left: 15px;
  position: absolute;
}

div .filter{
  width: 130px;
  padding-top: 30px;
  padding-left: 70px;
  float: left;
}

h4{
  text-align: center;
}

.icon{
  width: 50px;
  height: 50px;
}

#search{
  width: 135px;
  height:30px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background: white;
  border-radius: 5px;
}

#delivered{
  width: 135px;
  height:30px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background: white;  
}

.controles{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.status{
  width: 130px;
  padding-top: 5px;
  padding-left: 70px;
}

.appRouter{
  padding-left: 250px;
  top: -500px;
  position: relative;
}

.borderlist {
  list-style-position:inside;
  border: 1px;
  border-radius: 30px;
  padding: 20px 0px 30px 20px;
  margin: 30px;
  width: 770px;
  list-style: none;
  background: white;
  color: darkgrey;
  justify-content: space-between;
  align-items: center;
}

.value{
  font-size: 50px;
}

.form input, textarea{
  border-radius: 15px;
  border: none;
  width: 50%;
  margin-bottom: 20px;
  height: 30px;
  padding-left: 10px;
}

.form label{
  padding-left: 10px;
}

.addNew {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -45px;
  left: 1060px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
}

.addRoute:hover {
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 5px 0px gray
}

.redirigir{
  align-items: center;
  border-radius: 100px;
  height: 70px;
  width: 70px;
  background: orange;
  font-size: 4rem;
  font-display: center;
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
}

.redirigir:hover {
  border:none;  
  box-shadow: none;
}

div.container{
  margin: 0px 40px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.button-row button{
  width: 135px;
  height:30px;
  text-align: center;
  border: none;
  background: white;  
  margin: 5px;
}

snack-bar-container.success{
  background-color: aqua;
  color: white;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}