@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
html,
body {
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  width: 90%;
  font-family: 'Roboto', sans-serif, "Segoe UI",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(87, 87, 87);
}

body {
  margin: 0;
  width: 100%;
}

.root {
  position: relative;
}

header{
  width: 600px;
  max-width: 400px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 1em;
  left: 250px;
  z-index: 2;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
}

header nav a{
  background: white;
  display: inline-block;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 20px;
  text-decoration: none;
  color: rgb(87, 87, 87);
  transition: 0.2s ease-in;
  font-size: 20px;
  text-align: center;
  width: 250px;
}

header nav a::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
}

header nav a .link{
  font-size: 15px;
  font-weight: 500;
  top: 10px;
}

header nav a .fas{
  font-size: 35px;
}

header nav a:hover,
.actived{
  background: rgb(18, 33, 59);
  color: white;
}

.logo{
  position: absolute;
  top: 2em;
  left: 100px;
  z-index: 2;
  width: 100px;
  height: 100px;
}

#content{
  width: 97%;
  height: 97%;
  margin: 0 auto;
  background: rgb(230, 230, 230);
  padding-top: 120px;
  margin-left: 15px;
  position: absolute;
}

div .filter{
  width: 130px;
  padding-top: 30px;
  padding-left: 70px;
  float: left;
}

h4{
  text-align: center;
}

.icon{
  width: 50px;
  height: 50px;
}

div .mat-slide-toggle-bar-no-side-margin{
  height: 30px;
  width: 50px;
  border-radius: 15px;
  background: rgb(18, 33, 59);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background: orange;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: white
}

div .mat-slide-toggle-thumb{
  height: 30px;
  width: 30px;
  margin-top: 2.5px;
}

#search{
  width: 135px;
  height:30px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background: white;
  border-radius: 5px;
}

#delivered{
  width: 135px;
  height:30px;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  background: white;  
}

.controles{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.status{
  width: 130px;
  padding-top: 5px;
  padding-left: 70px;
}

.appRouter{
  padding-left: 250px;
  top: -500px;
  position: relative;
}

.borderlist {
  list-style-position:inside;
  border: 1px;
  border-radius: 30px;
  padding: 20px 0px 30px 20px;
  margin: 30px;
  width: 770px;
  list-style: none;
  background: white;
  color: darkgrey;
  justify-content: space-between;
  align-items: center;
}



.form input, textarea{
  border-radius: 15px;
  border: none;
  width: 50%;
  margin-bottom: 20px;
  height: 30px;
  padding-left: 10px;
}

.form label{
  padding-left: 10px;
}

.addRoute:hover {
  height: 80px;
  width: 80px;
  box-shadow: 0 2px 5px 0px gray
}

.redirigir:hover {
  border:none;  
  box-shadow: none;
}

div.container{
  margin: 0px 40px;
}

.fill-remaining-space{
  flex: 1 1 auto;
}

form.normal-form{
  margin: 10px;
}
.controles-container{
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.button-row button{
  width: 135px;
  height:30px;
  text-align: center;
  border: none;
  background: white;  
  margin: 5px;
}

snack-bar-container.success{
  background-color: aqua;
  color: white;
}

snack-bar-container.warn{
  background-color: #f99157;
  color: white;
}

snack-bar-container.notification simple-snack-bar{
  font-size: 18px !important;
  font-weight: bold;
}

div.mat-elevation-z8{
  border:none;
  background: rgb(230, 230, 230);
  box-shadow: 0px 0px 0px;
  position: relative;
}

.datatable{
  background: rgb(230, 230, 230);
  width: 80%;
  margin-left: 30px;
}
.dataTableHeader{
  visibility: hidden;
  height: -10px;
}

.dataTableCell{
  width:100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background: white;  
  color: grey;
  padding: 2%;
}

.cellDate{
  width: 100%;
  text-align: center;
  color: rgb(87, 87, 87);
  margin-right: 10px;
}

.fa-chevron-down{
  color: orange;
  font-size: 30px;
}

.cellOrigin{
  width: 100%;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(87, 87, 87);
}

.valueText{
  font-size: 2rem;
  color: rgb(87, 87, 87);
}


.fa-truck{
  font-size: 40px;
  transform: rotateY(180deg);
  color: grey;
}

.fa-ellipsis-v{
  font-size: 20px;
  color: grey;
}

.mat-raised-button{
  height: 60px;
  width: 20px;
  font-size: 10px;
  margin-left: 90%;
}

button.deleteboton{
  margin-left: 40%;
}

button.btnErase {
  border: none;
  background: white;
  margin-left: 60%;
}

.hide{
  display:none;
}

mat-footer-row mat-footer-cell{
  font-style: italic
}

.search-div{
  margin:10px;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.search-form-field{
  width: 300px;
  margin-right: 100px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid grey;
}

.search-form-field div.mat-form-field-underline{
  display: none;
  
}

.search-form-field div.mat-form-field-infix{
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper{
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button{
  height: 32px;
  width: 32px;  
}
 .addNew{
  border-radius: 100px;
  height: 70px;
  width: 70px;
  background: orange;
  font-size: 3rem;
  font-display: center;
  color: white;
  cursor: pointer;
  border: none;
  margin-top: -15%;
  margin-left: 75%;
}
.addNew .material-icons{
  font-size: 4rem;
  transform: translate(-20px);
}

.material-icons button.btn-dialog-close{
  font-size: 2rem;
  transform: translate(-20px);
}

button.btn-dialog-close{
  width: 45px;;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
  font-size: 10px;
}