<div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" class="input-search" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button arial-label="clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" class="datatable">
        <ng-container matColumnDef="date">
            <mat-cell class="cellDate" *matCellDef="let element">{{element.date}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="origin">
            <mat-cell class="cellOrigin" *matCellDef="let element">{{element.origin}}, {{element.zipOrigin}}<i class="fas fa-chevron-down"></i>
             {{element.destination}}, {{element.zipDestination}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="iconTruck">
            <mat-cell *matCellDef="let row">
                <mat-cell ><i class="fas fa-truck"></i></mat-cell>
            </mat-cell>
            </ng-container>
        <ng-container matColumnDef="value">
            <mat-cell *matCellDef="let element" class="valueText">${{element.value}}.00</mat-cell>
        </ng-container>
        <ng-container matColumnDef="deletebtn">
            <mat-cell *matCellDef= "let element" >
                <button mat-raised-button matTooltip="Erase button" color="accent" class="deleteboton">1</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions" class="rowActions">
            <mat-cell *matCellDef="let row">
                <button mat-icon-button matTooltip="Erase button" class="btnErase" (click)="onDelete(row.$key)"><i class="fas fa-ellipsis-v"></i></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                    No data.
                </mat-footer-cell>
            </ng-container>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="dataTableCell"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <button mat-fab-button class="addNew" (click)="onCreate()">
            <mat-icon>add</mat-icon>
    </button>
</div>